{% block content %}

<div class="container">
    {% for car in cars %}
    <div class="">
        <a href="#">
            <img class="" src="{{car.image.url}}" alt="Car image should be here" />
        </a>
        <div class="p-5">
            <a href="#">
                <h5 class="mb-2">{{car.brand}} {{car.model}}</h5>
            </a>
            <p class="mb-3">
                Brand: {{car.brand}}
            </p>
            <p class="mb-3">
                Price: ${{car.price }}
            </p>
            <p class="mb-3">
                Available: {{car.quantity}}
            </p>
            <a href="{% url "car_detail" pk=car.pk %}" class="">
                View Details
               
            </a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}


